body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
}

.paintlib-root {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.paintlib-menu {
    background-color: #222831;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #c0c0c0;
}

.paintlib-menu-line {
    height: 40px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.paintlib-menu-group {
    display: flex;
    gap: 5px;
}

.paintlib-canvas-container {
    flex: 1 1 0;
    background-color: silver;
}

.paintlib-menu-button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font: inherit;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.paintlib-menu-button.selected {
    background-image: linear-gradient(to top, #c0c0c0 0%, transparent 30%);
}

.paintlib-menu-button.disable {
    color: #5f6368 !important;
    cursor: not-allowed !important;
}

.paintlib-menu-button.disable:hover {
    background-image: none !important;
    opacity: 100% !important;
}

.paintlib-menu-button:hover {
    /*background-color: silver;*/
    background-image: linear-gradient(to top, #c0c0c0 0%, transparent 30%);
    opacity: 80%;
}

.display-none {
    display: none !important;
}

.option-floating-menu {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #ffffffB4;
    z-index: 1000;
    padding: 5px;

    /*display: flex;
    column-gap: 10px;
    row-gap: 5px;*/
}

.color-picker {
    display: flex;
    gap: 6px;
}

.tickness-picker {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.tickness-item {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.hoverable {
    cursor: pointer;
}
