:root {
    /* Note: effective default are in paintlib constructor */
    --paintlib-background-color: #c0c0c0;
    --paintlib-menu-color: #222831;
    --paintlib-icon-color: #c0c0c0;
    --paintlib-icon-color-selected: #c0c0c055;
    --paintlib-icon-color-hover: #c0c0c025;
    --paintlib-icon-size: 24px;
    --paintlib-button-size: 40px;
    --paintlib-button-gap: 6px;
    --paintlib-group-gap: 20px;
    --paintlib-tooltip-background-color: #000000;
    --paintlib-tooltip-color: #ffffff;
    --paintlib-tooltip-font-family: "Trebuchet MS";
}

.paintlib-root {
    background-color: var(--paintlib-background-color);
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.paintlib-canvas-container canvas {
    margin: 0;
    padding: 0;
    display: block;
}

.paintlib-canvas-container {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
}

.paintlib-menu {
    background-color: var(--paintlib-menu-color);
    color: var(--paintlib-icon-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.paintlib-menu-line {
    gap: var(--paintlib-group-gap);
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: space-between;
    overflow-x: auto;
    margin-left: 2px;
    margin-right: 2px;
}

.paintlib-menu-group {
    gap: var(--paintlib-button-gap);
    display: flex;
}

.paintlib-menu-button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 3px;
    padding: 0;
    font: inherit;
    cursor: pointer;
    height: var(--paintlib-button-size);
    width: var(--paintlib-button-size);
}

.paintlib-menu-button svg {
    height: var(--paintlib-icon-size);
    width: var(--paintlib-icon-size);
}

.paintlib-menu-button.selected {
    background-color: var(--paintlib-icon-color-selected);
}

.paintlib-menu-button.disable {
    opacity: 40% !important;
    cursor: not-allowed !important;
}

.paintlib-picker-floating-menu {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
}

.paintlib-tickness-picker {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.paintlib-tickness-item {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.paintlib-color-picker {
    display: flex;
    gap: 6px;
}

.paintlib-icon {
    height: var(--paintlib-icon-size);
}

.paintlib-tooltip {
    background-color: var(--paintlib-tooltip-background-color);
    color: var(--paintlib-tooltip-color);
    font-family: var(--paintlib-tooltip-font-family), serif;
    font-size: 16px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    white-space: nowrap;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 10000;
}

/* Hover for non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .paintlib-menu-button.disable:hover {
        background-color: transparent !important;
    }

    .paintlib-menu-button.selected:hover {
        background-color: var(--paintlib-icon-color-selected) !important;
    }

    .paintlib-menu-button:hover {
        background-color: var(--paintlib-icon-color-hover);
    }
}

/* Active for touch devices */
@media (hover: none) and (pointer: coarse) {
    .paintlib-menu-button.disable:active {
        background-color: transparent !important;
    }

    .paintlib-menu-button.selected:active {
        background-color: var(--paintlib-icon-color-selected) !important;
    }

    .paintlib-menu-button:active {
        background-color: var(--paintlib-icon-color-hover);
    }
}
